html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
    font-family: Arial, Verdana, sans-serif;
}

.header--navbar {
	background-color: #414141;
}

.nav--info {
	display: inline-block;
	color: #fff;
	margin-left: 10px;
	padding-left: 25px;
	background-position: left center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.map {
	background-image: url("img/karta.png");
}

.e-mail {
	background-image: url("img/e-mail.png");
}

.telephon {
	background-image: url("img/telephon.png");
}
